<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .t{background-color: greenyellow;}
    </style>
</head>
<body>
    <h1 align="center">Webpage table data</h1>
    <center>
<table border='2px'>
    <tr class='t'>
        <th>pk</th>
        <th>topic_name</th>
        <th>name</th>
        <th>url</th>
    </tr>
    {% for wo in wpqs %}
    <tr>
        <td>{{wo.pk}}</td>
        <td>{{ wo.topic_name }}</td>
        <td>{{ wo.name }}</td>
        <td>{{ wo.url }}</td>
    </tr>
    {% endfor %}
</table>
</center>
</body>
</html>